{% extends "core/partial/base.html" %}
{% load static %}
{% block head_link_block %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{% static 'css/core/home.css' %}">
{% endblock %}
{% block base_body_block %}
<!-- Первые 2 блока инфо -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://9b6bfb45-2bd9-42bf-ad07-e1af1c458da3.selstorage.ru/content/7/760209255f8bfbab82ebaf6b24bb1072.jpg" alt="...">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h1 class="card-title">ОНЛАЙН-ТРЕНИРОВКИ ДЛЯ ДОМА И ЗАЛА С DEXAR`ом</h1>
                    <p class="card-text">Авторские фитнес-программы под разные цели для любого уровня подготовки</p>
                    <button class="btn btn-primary">
                        Выбрать программу
                        <img class="img-fluid" src="https://gymteam.kinescopecdn.net/img/l/2024/vitrina/arrow.svg" alt="">
                    </button>
                    <p class="card-text">С нами тренируются уже<br>более 330 000 девушек!</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card bg-dark text-white">
                <img src="https://9b6bfb45-2bd9-42bf-ad07-e1af1c458da3.selstorage.ru/content/5/5b56cbd38bd835c191ff90e736718f25.jpg" class="card-img" alt="Фоновое изображение товара">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h1 class="card-title">Название товара</h1>
                    <p class="card-text">Краткое и привлекательное описание этого замечательного товара.</p>
                    <a href="#" class="btn btn-primary align-self-start">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Карусель -->
<div class="container mt-5">
    {% if carousel_objects|length > 0 %}
    <div id="generated_carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="height: 500px;">
        <!-- Индикаторы -->
        <div class="carousel-indicators">
            {% for carousel_image in carousel_objects %}
            <button type="button" data-bs-target="#generated_carousel" data-bs-slide-to="{{ forloop.counter0}}" 
                    {% if forloop.first %}class="active" aria-current="true"{% endif %} 
                    aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <!-- Конец Индикаторы -->
        
        <!-- Изображения -->
        <div class="carousel-inner h-100">
            {% for carousel_image in carousel_objects %}
            <div class="carousel-item {% if forloop.first %}active{% endif %} h-100">
                <a href="#">
                    <img src="{{ carousel_image.image.url }}" 
                         class="d-block w-100 h-100 img-fluid"
                         style="object-fit: cover;"
                         alt="{{ carousel_image.title|default:'Carousel image' }}"
                         loading="lazy">
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- Конец Изображения -->
        
        <!-- Элементы управления -->
        <button class="carousel-control-prev" type="button" data-bs-target="#generated_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#generated_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <!-- Конец Элементы управления -->
    </div>
    {% else %}
    <div class="alert alert-info">
        Нет изображений для отображения в карусели
    </div>
    {% endif %}
</div>
<!-- Конец Карусель -->
<!-- Собственный пример -->
<div class="container">
    <div class="row" style="text-align: center;">
        <h1>Собственный пример Дексара Максового<br> — лучший аргумент эффективности</h1>
        <p>
            После первых родов в 2019 году и вторых в 2022 похудела с 80 кг до 60 кг менее, чем за 100 дней благодаря своей авторской системе тренировок
        </p>
    </div>
    <div class="row">
            {% for self_introduces_image in self_introduces_images %}
            <div class="col-sm-12 col-md-3">
                <img class="img-fluid w-100" src="{{ self_introduces_image.image.url }}">
                {% if self_introduces_image.title %}
                <p>{{ self_introduces_image.title }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
</div>
<!-- Конец Собственный пример -->
<!-- Блок фитнес программ -->
<div class="container">
    <div class="row" style="text-align: center;">
        <h1>Выберите любую <br>из 8 фитнес-программ под свою цель</h1>
    </div>
    <div class="row">
        <div id="programs-category-column" class="col col-sm-12">
            <div class="row">
                {% if list_of_courses|length > 0 %}
                    {% for categorie in list_of_course_categories %}
                    <div class="col col-sm-12 col-md-6">
                        <h1>{{ categorie.title }}</h1>
                        <p>{{ categorie.short_description }}</p>
                    </div>
                    {% for course in categorie.course_set.all %}
                    <div class="col col-sm-12 col-md-3">
                        <div class="card bg-dark text-white">
                            <img src="{{ course.course_logo.url }}" class="card-img w-100" alt="Фоновое изображение товара">
                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                <h1 class="card-title">{{ course.title }}</h1>
                                <p class="card-text">{{ course.short_description }}</p>
                                <a href="#" class="btn btn-primary align-self-start">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                {% endif %}
                <!-- <div class="col col-sm-12 col-md-6">
                    <h1>МАРАФОНЫ С ДОМАШНИМИ ТРЕНИРОВКАМИ</h1>
                    <p>Если хотите быстро получить первые результаты</p>
                </div>
                <div class="col col-sm-12 col-md-6">
                    <div class="col col-sm-12 col-md-6">
                        <p>Здесь будут описания, карточки и тд</p>
                    </div>
                    <div class="col col-sm-12 col-md-6">
                        <p>Здесь будут описания, карточки и тд</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Конец Блока фитнес программ -->
{% endblock %}